<p>Hi there,</p>
<p>{{authorName}}
  has just posted a new listing: "<strong>{{listingTitle}}</strong>".</p>
<p>You can view it here: <a href='{{listingUrl}}'>{{listingUrl}}</a></p>
<br />
<p>Thanks,</p>
<p>The BoilerMate Team</p>