<!DOCTYPE html>
<html>
<head>
    <title>Your Listing is Outdated</title>
</head>
<body>
    <h1>Your Listing is Outdated</h1>
    <p>Hi {{name}},</p>
    <p>Your listing, "{{listingTitle}}", has not been updated in over 30 days. To keep our platform up-to-date, we have marked it as archived.</p>
    <p>If your listing is still available, you can reactivate it from "Your Listings" dashboard.</p>
    <p>Thank you for being a part of our community!</p>
</body>
</html>