<html>
  <head>
    <title>Reminder to Update Your Listing</title>
  </head>
  <body>
    <h1>Your Listing Will Be Archived Soon</h1>
    <p>Hi {{name}},</p>
    <p>Your listing, "{{listingTitle}}", has not been updated in 27 days. To
      keep our listings fresh, we will automatically archive listings that
      haven't been updated in 30 days.</p>
    <p>If your listing is still available, please make an update to it to create
      more demand.</p>
    <p>Otherwise your listing will be archived in 3 days.</p>
    <p>Thank you for being a part of our community!</p>
  </body>
</html>